<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!-- Headers -->
    <module name="RegexpHeader">
        <property name="headerFile" value="license.header" />
        <property name="fileExtensions" value="jelly, properties, java" />
    </module>

    <module name="FileTabCharacter" />

    <module name="TreeWalker">
        <module name="UnusedImports" />
    </module>
</module>
